[Desktop Entry]
Encoding=UTF-8
Name=STM32 Bluepill project - Claude へのリンク
Type=Link
URL=https://claude.ai/chat/596c7db5-1aba-4f15-a3fc-7b52e1eb42b8
Icon=mate-fs-bookmark
